.items {
  margin: 15rem auto;
  padding: 3rem;
  background-color: #282828;
  z-index: 1000;
  width: 50%;
  color: white;
  border-radius: 6px;
  height: 40rem;
  overflow-y: scroll;

  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0 6px 6px 0;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0 6px 6px 0;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    border: none;
    padding: 1rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    border-radius: 6px;
    background-color: #72ccca;
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      transform: translateY(-1px);
    }

    &:active,
    &:visited {
      transform: translateY(1px);
    }
  }
}

.item {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.6rem;
  border-bottom: 1px solid #fff;

  &__details {
    display: flex;
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;

    &--name {
      display: flex;
      flex-direction: column;
    }

    &--price {
      display: flex;
      flex-direction: column;
      font-size: 3rem;
      font-family: 700;
    }
  }

  &__actions {
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--1 {
      border-radius: 6px;
      border-style: solid;
      border-color: #72ccca;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      flex-grow: 0.2;
    }

    &--text {
      font-size: 1.6rem;
      font-weight: 400;
    }
  }
}
